set_location IN_MUX_bfv_2_5_0_ 2 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_6_0_ 2 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_1_0_ 2 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_2_0_ 1 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_2_0_ 2 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_3_0_ 2 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_3_0_ 1 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_4_0_ 1 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_4_0_ 2 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_1_0_ 5 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_2_0_ 5 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_2_0_ 6 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_3_0_ 6 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_3_0_ 7 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_4_0_ 7 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_1_0_ 6 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_4_0_ 5 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_5_0_ 5 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_1_0_ 1 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_5_0_ 6 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_6_0_ 1 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_7_0_ 1 7 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 4 1 4 #SB_LUT4
set_location un3_y_cry_2_THRU_LUT4_0 2 5 2 #SB_LUT4
set_location un3_y_cry_1_THRU_LUT4_0 2 5 1 #SB_LUT4
set_location un2_y_if_generate_plus_mult1_un33_sum_cry_6_THRU_LUT4_0 1 4 5 #SB_LUT4
set_location un2_y_if_generate_plus_mult1_un1_rem_adjust_cry_3_THRU_LUT4_0 5 1 2 #SB_LUT4
set_location un2_y_if_generate_plus_mult1_un1_rem_adjust_cry_2_THRU_LUT4_0 5 1 1 #SB_LUT4
set_location un2_x_if_generate_plus_mult1_un40_sum_cry_5_THRU_LUT4_0 6 5 1 #SB_LUT4
set_location un2_x_if_generate_plus_mult1_un1_rem_adjust_cry_4_THRU_LUT4_0 6 1 1 #SB_LUT4
set_location x_RNO[9] 5 5 0 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un61_sum_sbtinv 1 1 7 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un61_sum_cry_6_c_RNI5Q1VE_0 1 2 6 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un54_sum_cry_3_c_RNIRB5G6 2 2 2 #SB_LUT4
set_location y_RNO[8] 2 5 7 #SB_LUT4
set_location x[6] 5 4 5 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un68_sum_cry_3_c_RNI4IC3N 1 1 2 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un54_sum_cry_4_c 7 3 0 #SB_CARRY
set_location x_RNO[7] 5 4 6 #SB_LUT4
set_location x_RNI70M6[7] 6 3 7 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un33_sum_cry_5_c_RNIM3MO1 1 4 4 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un33_sum_cry_2_c 1 4 0 #SB_CARRY
set_location Counter_RNO[10] 1 7 2 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un40_sum_sbtinv_RNIVE8O2 2 3 1 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un61_sum_cry_5_c_RNIQDKD2 6 3 2 #SB_LUT4
set_location un16_x_cry_5_c 5 4 4 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un68_sum_cry_5_c_RNI8LRER1 1 1 4 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un75_sum_cry_7_c_inv 5 2 3 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un68_sum_cry_7_c_RNIVABU5 6 2 4 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un61_sum_cry_5_c 6 3 1 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un47_sum_cry_6_c 7 4 2 #SB_CARRY
set_location un3_y_cry_7_c 2 5 6 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un75_sum_cry_3_c_RNIRD1ND1 2 1 2 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un54_sum_cry_3_c 2 2 1 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un40_sum_cry_5_c 1 3 3 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un26_sum_cry_2_c 2 4 0 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un68_sum_cry_6_c 6 2 2 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un68_sum_cry_4_c_RNIQMVB3 6 2 1 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un47_sum_cry_6_c_RNI7HQG1 7 4 3 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un47_sum_cry_5_c 2 3 3 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un33_sum_cry_5_c 1 4 3 #SB_CARRY
set_location Counter[4] 1 6 4 #SB_DFFR
set_location ClockVGA_RNO 1 7 6 #SB_LUT4
set_location ClockVGA 1 7 6 #SB_DFFR
set_location un2_y_if_generate_plus.mult1_un54_sum_cry_4_c 2 2 2 #SB_CARRY
set_location Pixel 6 1 7 #SB_DFF
set_location Counter_RNIVO2Q2[1] 2 6 4 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un68_sum_cry_2_c 1 1 0 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un40_sum_cry_6_c_RNITLS12 1 3 5 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un61_sum_cry_7_c_RNI6N2R2 6 3 4 #SB_LUT4
set_location Reset_latch 1 8 0 #SB_LUT4
set_location Counter_RNO[3] 1 6 3 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un1_rem_adjust_cry_2_c_inv 4 1 5 #SB_LUT4
set_location Counter[3] 1 6 3 #SB_DFFR
set_location un2_y_if_generate_plus.mult1_un75_sum_cry_6_c 2 1 4 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un61_sum_cry_5_c_RNIHL7KT 1 2 4 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un61_sum_cry_6_c_RNIE41K5 6 3 3 #SB_LUT4
set_location Pixel_RNO_2 6 4 3 #SB_LUT4
set_location x[5] 5 4 4 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un68_sum_cry_5_c 1 1 3 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un54_sum_cry_6_c 2 2 4 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un47_sum_cry_7_c_RNIE0BB_0 7 4 5 #SB_LUT4
set_location y[0] 1 5 1 #SB_DFF
set_location HSync_RNO 6 4 4 #SB_LUT4
set_location Counter_cry_c[3] 1 6 3 #SB_CARRY
set_location y_RNO[6] 2 5 5 #SB_LUT4
set_location x_RNO[2] 5 4 1 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un33_sum_cry_4_c_RNIFVHF 1 4 3 #SB_LUT4
set_location Pixel_RNO_5 4 1 3 #SB_LUT4
set_location Pixel_RNO 6 1 7 #SB_LUT4
set_location x_RNI92M6[9] 6 4 1 #SB_LUT4
set_location x[8] 5 4 7 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un75_sum_cry_4_c 2 1 2 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un40_sum_cry_3_c_RNI6QD31 1 3 2 #SB_LUT4
set_location Counter_RNO[9] 1 7 1 #SB_LUT4
set_location y[5] 2 5 4 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un40_sum_sbtinv 2 4 7 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un75_sum_cry_5_c 5 2 1 #SB_CARRY
set_location Counter_cry_c[4] 1 6 4 #SB_CARRY
set_location y_RNO[3] 1 5 7 #SB_LUT4
set_location x_RNO[5] 5 4 4 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un75_sum_cry_3_c 2 1 1 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un54_sum_cry_7_c_RNIJQCI1_0 7 3 5 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un47_sum_cry_5_c 7 4 1 #SB_CARRY
set_location Counter_RNO[12] 1 7 4 #SB_LUT4
set_location x_RNI5UL6[5] 5 2 7 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un54_sum_cry_5_c_RNIC2PU 7 3 2 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un68_sum_cry_6_c 1 1 4 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un54_sum_sbtinv_RNIHHNP7 1 2 1 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un75_sum_cry_7_c_RNIU3THB 5 2 4 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un61_sum_cry_4_c_RNI17P02 6 3 1 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un68_sum_cry_4_c_RNI36E1R 1 1 3 #SB_LUT4
set_location Pixel_RNO_10 5 2 5 #SB_LUT4
set_location Counter_RNO[6] 1 6 6 #SB_LUT4
set_location y[8] 2 5 7 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un54_sum_cry_2_c_RNIQ2O14 2 2 1 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un47_sum_cry_7_c 7 4 3 #SB_CARRY
set_location Counter[6] 1 6 6 #SB_DFFR
set_location y_RNI58ME1[4] 1 5 6 #SB_LUT4
set_location x[0] 5 3 5 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un68_sum_cry_6_c_RNI22UUT 1 1 5 #SB_LUT4
set_location Counter_RNO[1] 1 6 1 #SB_LUT4
set_location Counter[13] 1 7 5 #SB_DFFR
set_location un16_x_cry_3_c 5 4 2 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un68_sum_cry_3_c 1 1 1 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un54_sum_cry_6_c_RNIEETD7_0 2 2 6 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un54_sum_cry_4_c_RNILM3V6 2 2 3 #SB_LUT4
set_location Pixel_RNO_0 5 1 3 #SB_LUT4
set_location y_RNI7THF[3] 1 1 0 #SB_LUT4
set_location x[7] 5 4 6 #SB_DFF
set_location un2_x_if_generate_plus.mult1_un54_sum_cry_4_c_RNIV4GJ 7 3 1 #SB_LUT4
set_location un16_x_cry_4_c 5 4 3 #SB_CARRY
set_location Counter_cry_c[11] 1 7 3 #SB_CARRY
set_location y[2] 1 5 3 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un68_sum_sbtinv 2 1 6 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un61_sum_cry_3_c 1 2 1 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un33_sum_cry_6_c_RNIJ7MF_0 2 4 5 #SB_LUT4
set_location Counter_cry_c[1] 1 6 1 #SB_CARRY
set_location Counter[8] 1 7 0 #SB_DFFR
set_location y_RNO[4] 2 5 3 #SB_LUT4
set_location x_RNO[0] 5 3 5 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un61_sum_cry_6_c_RNI5Q1VE 1 2 5 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un26_sum_cry_4_c_RNIIOBP 1 4 6 #SB_LUT4
set_location Counter_RNIVB1D1[0] 2 6 3 #SB_LUT4
set_location y[7] 2 5 6 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un61_sum_cry_3_c_RNIF3ONB 1 2 2 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un40_sum_cry_4_c_RNI46N8 6 5 2 #SB_LUT4
set_location y_RNO[1] 1 5 4 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un1_rem_adjust_cry_2_c 5 1 0 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un68_sum_cry_5_c 6 2 1 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un75_sum_cry_4_c 5 2 0 #SB_CARRY
set_location Counter[5] 1 6 5 #SB_DFFR
set_location un2_x_if_generate_plus.mult1_un61_sum_cry_6_c 6 3 2 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un47_sum_cry_7_c_RNIE0BB 7 4 4 #SB_LUT4
set_location Pixel_RNO_8 6 4 5 #SB_LUT4
set_location Counter_RNI4CPD1[9] 2 7 2 #SB_LUT4
set_location y_RNIMA162[9] 2 4 6 #SB_LUT4
set_location un3_y_cry_4_c 2 5 3 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un54_sum_sbtinv 1 2 7 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un68_sum_cry_6_c_RNIFKBHB 6 2 3 #SB_LUT4
set_location un16_x_cry_7_c 5 4 6 #SB_CARRY
set_location Counter_RNO[4] 1 6 4 #SB_LUT4
set_location x_RNIMQNQ[4] 6 4 6 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un75_sum_cry_6_c_inv 2 1 4 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un61_sum_cry_6_c 1 2 4 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un47_sum_cry_4_c_RNIFIVG3 2 3 3 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un33_sum_sbtinv_RNIG1LP 1 3 1 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un33_sum_cry_3_c_RNIDRFF 1 4 2 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un61_sum_cry_7_c_RNI6N2R2_0 6 3 5 #SB_LUT4
set_location un16_x_cry_8_c 5 4 7 #SB_CARRY
set_location VSync_RNO 8 4 3 #SB_LUT4
set_location Counter_cry_c[9] 1 7 1 #SB_CARRY
set_location Counter[0] 1 6 0 #SB_DFFR
set_location x_RNO[8] 5 4 7 #SB_LUT4
set_location un3_y_cry_3_c 2 5 2 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un1_rem_adjust_cry_4_c 5 1 2 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un75_sum_cry_7_c 5 2 3 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un1_rem_adjust_cry_4_c_inv 6 2 5 #SB_LUT4
set_location Pixel_RNO_3 6 4 0 #SB_LUT4
set_location x[2] 5 4 1 #SB_DFF
set_location Counter[11] 1 7 3 #SB_DFFR
set_location un2_y_if_generate_plus.mult1_un75_sum_cry_6_c_RNINAPFR1 2 1 5 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un54_sum_cry_5_c 7 3 1 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un40_sum_cry_4_c_RNI8CEH 7 4 6 #SB_LUT4
set_location Counter_cry_c[2] 1 6 2 #SB_CARRY
set_location y_RNO[9] 2 6 0 #SB_LUT4
set_location x_RNO[3] 5 4 2 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un61_sum_cry_5_c 1 2 3 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un47_sum_cry_3_c_RNION573 2 3 2 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un33_sum_cry_6_c_RNIJ7MF 2 4 4 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un33_sum_cry_3_c 1 4 1 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un26_sum_cry_4_c_RNI9SLC 2 4 3 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un54_sum_cry_7_c_RNIJQCI1 7 3 4 #SB_LUT4
set_location Pixel_RNO_6 5 2 2 #SB_LUT4
set_location y_RNIN6QD2[0] 1 5 0 #SB_LUT4
set_location x_RNID8R22[9] 6 4 7 #SB_LUT4
set_location x_RNI81M6[8] 7 4 7 #SB_LUT4
set_location x[9] 5 5 0 #SB_DFF
set_location un3_y_cry_1_c 2 5 0 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un68_sum_cry_2_c_RNIDS8NF 1 1 1 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un54_sum_cry_6_c_RNIEETD7 2 2 5 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un26_sum_cry_4_c 2 4 2 #SB_CARRY
set_location un16_x_cry_2_c 5 4 1 #SB_CARRY
set_location y_RNIA5P7[9] 1 5 2 #SB_LUT4
set_location y[4] 2 5 3 #SB_DFF
set_location un3_y_cry_8_c 2 5 7 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un47_sum_sbtinv 2 3 7 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un47_sum_cry_3_c 2 3 1 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un47_sum_cry_5_c_RNIG20K 7 4 2 #SB_LUT4
set_location Counter_cry_c[7] 1 6 7 #SB_CARRY
set_location y_RNO[2] 1 5 3 #SB_LUT4
set_location x_RNO[6] 5 4 5 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un40_sum_cry_4_c_RNI5HA81 1 3 3 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un26_sum_cry_3_c 2 4 1 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un68_sum_cry_4_c 6 2 0 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un54_sum_cry_7_c 7 3 3 #SB_CARRY
set_location Counter_RNO[11] 1 7 3 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un61_sum_cry_2_c 1 2 0 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un47_sum_cry_4_c 2 3 2 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un40_sum_cry_4_c 6 5 0 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un1_rem_adjust_cry_5_c 6 1 1 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un33_sum_cry_2_c_RNIF6KA 1 4 1 #SB_LUT4
set_location un16_x_cry_6_c 5 4 5 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un75_sum_cry_2_c_RNIFQFCU 2 1 1 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un54_sum_cry_6_c 7 3 2 #SB_CARRY
set_location Counter_RNO[7] 1 6 7 #SB_LUT4
set_location HSync_RNO_0 6 5 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location Counter[7] 1 6 7 #SB_DFFR
set_location un2_y_if_generate_plus.mult1_un47_sum_cry_6_c 2 3 4 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un1_rem_adjust_cry_3_c 5 1 1 #SB_CARRY
set_location x[1] 5 3 6 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un47_sum_cry_6_c_RNIJJ1M3_0 2 3 6 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un40_sum_cry_6_c_RNITLS12_0 1 3 6 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un47_sum_cry_4_c_RNIKSTH 7 4 1 #SB_LUT4
set_location Counter_RNO[2] 1 6 2 #SB_LUT4
set_location Counter[12] 1 7 4 #SB_DFFR
set_location x_RNI6VL6[6] 6 3 6 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un47_sum_cry_6_c_RNIJJ1M3 2 3 5 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un26_sum_cry_3_c_RNI8QKC 2 4 2 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un68_sum_cry_7_c 6 2 3 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un61_sum_cry_7_c 6 3 3 #SB_CARRY
set_location Counter[2] 1 6 2 #SB_DFFR
set_location un3_y_cry_5_c 2 5 4 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un47_sum_cry_5_c_RNI2VUB7 2 3 4 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un40_sum_cry_6_c 1 3 4 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un40_sum_cry_5_c_RNI5DAA3 1 3 4 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un75_sum_cry_4_c_RNIH747 5 2 1 #SB_LUT4
set_location Pixel_RNO_1 6 1 2 #SB_LUT4
set_location x[4] 5 4 3 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un75_sum_cry_5_c 2 1 3 #SB_CARRY
set_location Counter_cry_c[12] 1 7 4 #SB_CARRY
set_location y[1] 1 5 4 #SB_DFF
set_location un2_x_if_generate_plus.mult1_un75_sum_cry_6_c 5 2 2 #SB_CARRY
set_location Counter_cry_c[0] 1 6 0 #SB_CARRY
set_location Counter[9] 1 7 1 #SB_DFFR
set_location y_RNO[7] 2 5 6 #SB_LUT4
set_location x_RNO[1] 5 3 6 #SB_LUT4
set_location x_RNI6ANQ[1] 5 3 1 #SB_LUT4
set_location un2_x_if_generate_plus.mult1_un61_sum_cry_4_c 6 3 0 #SB_CARRY
set_location Pixel_RNO_4 2 1 3 #SB_LUT4
set_location HSync 6 4 4 #SB_DFF
set_location Counter_RNI7QMJ6[13] 2 6 2 #SB_LUT4
set_location un3_y_cry_6_c 2 5 5 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un54_sum_cry_5_c_RNIR1SME 2 2 4 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un40_sum_cry_4_c 1 3 2 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un1_rem_adjust_cry_4_c 6 1 0 #SB_CARRY
set_location Counter_RNO[8] 1 7 0 #SB_LUT4
set_location y_RNIO44V[1] 1 5 5 #SB_LUT4
set_location y[6] 2 5 5 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un61_sum_cry_4_c 1 2 2 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un33_sum_cry_4_c 1 4 2 #SB_CARRY
set_location Counter_cry_c[5] 1 6 5 #SB_CARRY
set_location y_RNO[0] 1 5 1 #SB_LUT4
set_location x_RNO[4] 5 4 3 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un54_sum_cry_5_c 2 2 3 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un40_sum_cry_3_c 1 3 1 #SB_CARRY
set_location Counter_RNO[13] 1 7 5 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un47_sum_cry_2_c 2 3 0 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un26_sum_cry_5_c 2 4 3 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un61_sum_cry_4_c_RNIHE66E 1 2 3 #SB_LUT4
set_location Pixel_RNO_9 4 1 2 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un40_sum_cry_2_c 1 3 0 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un33_sum_sbtinv 1 4 7 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un33_sum_cry_6_c 1 4 4 #SB_CARRY
set_location un2_y_if_generate_plus.mult1_un26_sum_cry_2_c_RNI7OJC 2 4 1 #SB_LUT4
set_location VSync 8 4 3 #SB_DFF
set_location Pixel_RNO_11 4 1 1 #SB_LUT4
set_location Counter_RNO[5] 1 6 5 #SB_LUT4
set_location y[9] 2 6 0 #SB_DFF
set_location un2_y_if_generate_plus.mult1_un68_sum_cry_4_c 1 1 2 #SB_CARRY
set_location un16_x_cry_1_c 5 4 0 #SB_CARRY
set_location Counter_cry_c[8] 1 7 0 #SB_CARRY
set_location Counter[1] 1 6 1 #SB_DFFR
set_location x[3] 5 4 2 #SB_DFF
set_location un2_x_if_generate_plus.mult1_un54_sum_cry_6_c_RNIS49J2 7 3 3 #SB_LUT4
set_location Counter_RNO[0] 1 6 0 #SB_LUT4
set_location Counter[10] 1 7 2 #SB_DFFR
set_location un3_y_cry_2_c 2 5 1 #SB_CARRY
set_location Pixel_RNO_7 6 1 3 #SB_LUT4
set_location Counter_RNICJ474[6] 2 6 1 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un75_sum_cry_2_c 2 1 0 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un47_sum_cry_4_c 7 4 0 #SB_CARRY
set_location Counter_cry_c[10] 1 7 2 #SB_CARRY
set_location y[3] 1 5 7 #SB_DFF
set_location Counter_cry_c[6] 1 6 6 #SB_CARRY
set_location y_RNO[5] 2 5 4 #SB_LUT4
set_location un2_y_if_generate_plus.mult1_un54_sum_cry_2_c 2 2 0 #SB_CARRY
set_location un2_x_if_generate_plus.mult1_un68_sum_cry_5_c_RNIM0465 6 2 2 #SB_LUT4
set_io VSync 60
set_io Pixel 62
set_io HSync 61
set_io Clock12MHz 21
