set_location HSync_1_RNO 8 7 4 # SB_LUT4 (LogicCell: HSync_1_LC_0)
set_location HSync_1 8 7 4 # SB_DFF (LogicCell: HSync_1_LC_0)
set_location HSync_1_RNO_0 8 7 3 # SB_LUT4 (LogicCell: HSync_1_RNO_0_LC_1)
set_location Pixel_1_RNO 9 5 4 # SB_LUT4 (LogicCell: Pixel_1_LC_2)
set_location Pixel_1 9 5 4 # SB_DFF (LogicCell: Pixel_1_LC_2)
set_location Pixel_1_RNO_0 9 5 6 # SB_LUT4 (LogicCell: Pixel_1_RNO_0_LC_3)
set_location Pixel_1_RNO_1 11 5 5 # SB_LUT4 (LogicCell: Pixel_1_RNO_1_LC_4)
set_location Pixel_1_RNO_10 9 5 2 # SB_LUT4 (LogicCell: Pixel_1_RNO_10_LC_5)
set_location Pixel_1_RNO_11 9 4 6 # SB_LUT4 (LogicCell: Pixel_1_RNO_11_LC_6)
set_location Pixel_1_RNO_12 9 4 3 # SB_LUT4 (LogicCell: Pixel_1_RNO_12_LC_7)
set_location un1_beamY_if_generate_plus.mult1_un75_sum_cry_5_c 9 4 3 # SB_CARRY (LogicCell: Pixel_1_RNO_12_LC_7)
set_location Pixel_1_RNO_13 8 5 5 # SB_LUT4 (LogicCell: Pixel_1_RNO_13_LC_8)
set_location Pixel_1_RNO_14 8 4 3 # SB_LUT4 (LogicCell: Pixel_1_RNO_14_LC_9)
set_location Pixel_1_RNO_15 8 5 3 # SB_LUT4 (LogicCell: Pixel_1_RNO_15_LC_10)
set_location Pixel_1_RNO_16 8 7 6 # SB_LUT4 (LogicCell: Pixel_1_RNO_16_LC_11)
set_location Pixel_1_RNO_17 9 4 0 # SB_LUT4 (LogicCell: Pixel_1_RNO_17_LC_12)
set_location un1_beamY_if_generate_plus.mult1_un75_sum_cry_2_c 9 4 0 # SB_CARRY (LogicCell: Pixel_1_RNO_17_LC_12)
set_location Pixel_1_RNO_18 8 4 2 # SB_LUT4 (LogicCell: Pixel_1_RNO_18_LC_13)
set_location Pixel_1_RNO_2 11 5 1 # SB_LUT4 (LogicCell: Pixel_1_RNO_2_LC_14)
set_location Pixel_1_RNO_3 9 5 3 # SB_LUT4 (LogicCell: Pixel_1_RNO_3_LC_15)
set_location Pixel_1_RNO_4 8 5 6 # SB_LUT4 (LogicCell: Pixel_1_RNO_4_LC_16)
set_location Pixel_1_RNO_5 8 4 4 # SB_LUT4 (LogicCell: Pixel_1_RNO_5_LC_17)
set_location Pixel_1_RNO_6 8 5 4 # SB_LUT4 (LogicCell: Pixel_1_RNO_6_LC_18)
set_location Pixel_1_RNO_7 8 5 1 # SB_LUT4 (LogicCell: Pixel_1_RNO_7_LC_19)
set_location Pixel_1_RNO_8 12 4 2 # SB_LUT4 (LogicCell: Pixel_1_RNO_8_LC_20)
set_location un1_visiblex_if_generate_plus.mult1_un75_sum_cry_6_c 12 4 2 # SB_CARRY (LogicCell: Pixel_1_RNO_8_LC_20)
set_location Pixel_1_RNO_9 8 6 3 # SB_LUT4 (LogicCell: Pixel_1_RNO_9_LC_21)
set_location un5_visiblex_cry_3_c 8 6 3 # SB_CARRY (LogicCell: Pixel_1_RNO_9_LC_21)
set_location VSync_1_RNO 8 4 7 # SB_LUT4 (LogicCell: VSync_1_LC_22)
set_location VSync_1 8 4 7 # SB_DFF (LogicCell: VSync_1_LC_22)
set_location VSync_1_RNO_0 8 4 6 # SB_LUT4 (LogicCell: VSync_1_RNO_0_LC_23)
set_location beamX_RNI5457[5] 7 5 5 # SB_LUT4 (LogicCell: beamX_RNI5457[5]_LC_24)
set_location beamX_RNICPU5[1] 7 5 3 # SB_LUT4 (LogicCell: beamX_RNICPU5[1]_LC_25)
set_location beamX_RNIKVE6[0] 7 5 4 # SB_LUT4 (LogicCell: beamX_RNIKVE6[0]_LC_26)
set_location beamX_RNIQCL[1] 8 5 2 # SB_LUT4 (LogicCell: beamX_RNIQCL[1]_LC_27)
set_location beamX_RNIR4B[9] 8 7 7 # SB_LUT4 (LogicCell: beamX_RNIR4B[9]_LC_28)
set_location beamX_RNO[0] 7 5 1 # SB_LUT4 (LogicCell: beamX[0]_LC_29)
set_location beamX[0] 7 5 1 # SB_DFF (LogicCell: beamX[0]_LC_29)
set_location beamX_RNO[1] 8 6 1 # SB_LUT4 (LogicCell: beamX[1]_LC_30)
set_location beamX[1] 8 6 1 # SB_DFF (LogicCell: beamX[1]_LC_30)
set_location un5_visiblex_cry_1_c 8 6 1 # SB_CARRY (LogicCell: beamX[1]_LC_30)
set_location beamX_RNO[10] 7 8 1 # SB_LUT4 (LogicCell: beamX[10]_LC_31)
set_location beamX[10] 7 8 1 # SB_DFF (LogicCell: beamX[10]_LC_31)
set_location beamX_RNO[2] 7 7 1 # SB_LUT4 (LogicCell: beamX[2]_LC_32)
set_location beamX[2] 7 7 1 # SB_DFF (LogicCell: beamX[2]_LC_32)
set_location un8_beamx_cry_2_c 7 7 1 # SB_CARRY (LogicCell: beamX[2]_LC_32)
set_location beamX_RNO[3] 7 7 2 # SB_LUT4 (LogicCell: beamX[3]_LC_33)
set_location beamX[3] 7 7 2 # SB_DFF (LogicCell: beamX[3]_LC_33)
set_location un8_beamx_cry_3_c 7 7 2 # SB_CARRY (LogicCell: beamX[3]_LC_33)
set_location beamX_RNO[4] 7 7 3 # SB_LUT4 (LogicCell: beamX[4]_LC_34)
set_location beamX[4] 7 7 3 # SB_DFF (LogicCell: beamX[4]_LC_34)
set_location un8_beamx_cry_4_c 7 7 3 # SB_CARRY (LogicCell: beamX[4]_LC_34)
set_location beamX_RNO[5] 7 7 4 # SB_LUT4 (LogicCell: beamX[5]_LC_35)
set_location beamX[5] 7 7 4 # SB_DFF (LogicCell: beamX[5]_LC_35)
set_location un8_beamx_cry_5_c 7 7 4 # SB_CARRY (LogicCell: beamX[5]_LC_35)
set_location beamX_RNO[6] 7 7 5 # SB_LUT4 (LogicCell: beamX[6]_LC_36)
set_location beamX[6] 7 7 5 # SB_DFF (LogicCell: beamX[6]_LC_36)
set_location un8_beamx_cry_6_c 7 7 5 # SB_CARRY (LogicCell: beamX[6]_LC_36)
set_location beamX_RNO[7] 7 7 6 # SB_LUT4 (LogicCell: beamX[7]_LC_37)
set_location beamX[7] 7 7 6 # SB_DFF (LogicCell: beamX[7]_LC_37)
set_location un8_beamx_cry_7_c 7 7 6 # SB_CARRY (LogicCell: beamX[7]_LC_37)
set_location beamX_RNO[8] 7 7 7 # SB_LUT4 (LogicCell: beamX[8]_LC_38)
set_location beamX[8] 7 7 7 # SB_DFF (LogicCell: beamX[8]_LC_38)
set_location un8_beamx_cry_8_c 7 7 7 # SB_CARRY (LogicCell: beamX[8]_LC_38)
set_location beamX_RNO[9] 7 8 0 # SB_LUT4 (LogicCell: beamX[9]_LC_39)
set_location beamX[9] 7 8 0 # SB_DFF (LogicCell: beamX[9]_LC_39)
set_location un8_beamx_cry_9_c 7 8 0 # SB_CARRY (LogicCell: beamX[9]_LC_39)
set_location beamY_RNIA525[0] 7 5 2 # SB_LUT4 (LogicCell: beamY_RNIA525[0]_LC_40)
set_location beamY_RNIC725[9] 7 5 7 # SB_LUT4 (LogicCell: beamY_RNIC725[9]_LC_41)
set_location beamY_RNIJ0H2[3] 8 4 5 # SB_LUT4 (LogicCell: beamY_RNIJ0H2[3]_LC_42)
set_location beamY_RNIN4H2[5] 8 4 1 # SB_LUT4 (LogicCell: beamY_RNIN4H2[5]_LC_43)
set_location beamY_RNITAH2[9] 8 5 0 # SB_LUT4 (LogicCell: beamY_RNITAH2[9]_LC_44)
set_location beamY_RNO[0] 7 6 4 # SB_LUT4 (LogicCell: beamY[0]_LC_45)
set_location beamY[0] 7 6 4 # SB_DFFE (LogicCell: beamY[0]_LC_45)
set_location beamY_RNO_0[1] 6 6 4 # SB_LUT4 (LogicCell: beamY_RNO_0[1]_LC_46)
set_location beamY_RNO_0[3] 7 4 2 # SB_LUT4 (LogicCell: beamY_RNO_0[3]_LC_47)
set_location un21_beamy_cry_3_c 7 4 2 # SB_CARRY (LogicCell: beamY_RNO_0[3]_LC_47)
set_location beamY_RNO_0[4] 7 4 3 # SB_LUT4 (LogicCell: beamY_RNO_0[4]_LC_48)
set_location un21_beamy_cry_4_c 7 4 3 # SB_CARRY (LogicCell: beamY_RNO_0[4]_LC_48)
set_location beamY_RNO_0[7] 7 4 6 # SB_LUT4 (LogicCell: beamY_RNO_0[7]_LC_49)
set_location un21_beamy_cry_7_c 7 4 6 # SB_CARRY (LogicCell: beamY_RNO_0[7]_LC_49)
set_location beamY_RNO_0[9] 7 5 0 # SB_LUT4 (LogicCell: beamY_RNO_0[9]_LC_50)
set_location beamY_RNO[1] 7 6 1 # SB_LUT4 (LogicCell: beamY[1]_LC_51)
set_location beamY[1] 7 6 1 # SB_DFFE (LogicCell: beamY[1]_LC_51)
set_location beamY_RNO[2] 7 4 1 # SB_LUT4 (LogicCell: beamY[2]_LC_52)
set_location beamY[2] 7 4 1 # SB_DFFE (LogicCell: beamY[2]_LC_52)
set_location un21_beamy_cry_2_c 7 4 1 # SB_CARRY (LogicCell: beamY[2]_LC_52)
set_location beamY_RNO[3] 7 3 4 # SB_LUT4 (LogicCell: beamY[3]_LC_53)
set_location beamY[3] 7 3 4 # SB_DFFE (LogicCell: beamY[3]_LC_53)
set_location beamY_RNO[4] 7 3 6 # SB_LUT4 (LogicCell: beamY[4]_LC_54)
set_location beamY[4] 7 3 6 # SB_DFFE (LogicCell: beamY[4]_LC_54)
set_location beamY_RNO[5] 7 4 4 # SB_LUT4 (LogicCell: beamY[5]_LC_55)
set_location beamY[5] 7 4 4 # SB_DFFE (LogicCell: beamY[5]_LC_55)
set_location un21_beamy_cry_5_c 7 4 4 # SB_CARRY (LogicCell: beamY[5]_LC_55)
set_location beamY_RNO[6] 7 4 5 # SB_LUT4 (LogicCell: beamY[6]_LC_56)
set_location beamY[6] 7 4 5 # SB_DFFE (LogicCell: beamY[6]_LC_56)
set_location un21_beamy_cry_6_c 7 4 5 # SB_CARRY (LogicCell: beamY[6]_LC_56)
set_location beamY_RNO[7] 7 3 2 # SB_LUT4 (LogicCell: beamY[7]_LC_57)
set_location beamY[7] 7 3 2 # SB_DFFE (LogicCell: beamY[7]_LC_57)
set_location beamY_RNO[8] 7 4 7 # SB_LUT4 (LogicCell: beamY[8]_LC_58)
set_location beamY[8] 7 4 7 # SB_DFFE (LogicCell: beamY[8]_LC_58)
set_location un21_beamy_cry_8_c 7 4 7 # SB_CARRY (LogicCell: beamY[8]_LC_58)
set_location beamY_RNO[9] 7 3 7 # SB_LUT4 (LogicCell: beamY[9]_LC_59)
set_location beamY[9] 7 3 7 # SB_DFFE (LogicCell: beamY[9]_LC_59)
set_location un1_beamY_if_generate_plus.mult1_un33_sum_cry_2_c_RNISKOM 7 2 1 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un33_sum_cry_2_c_RNISKOM_LC_60)
set_location un1_beamY_if_generate_plus.mult1_un33_sum_cry_3_c 7 2 1 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un33_sum_cry_2_c_RNISKOM_LC_60)
set_location un1_beamY_if_generate_plus.mult1_un33_sum_cry_3_c_RNITMPM 7 2 2 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un33_sum_cry_3_c_RNITMPM_LC_61)
set_location un1_beamY_if_generate_plus.mult1_un33_sum_cry_4_c 7 2 2 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un33_sum_cry_3_c_RNITMPM_LC_61)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_cry_2_c_RNIOQUC 7 1 1 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_cry_2_c_RNIOQUC_LC_62)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_cry_3_c 7 1 1 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_cry_2_c_RNIOQUC_LC_62)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_cry_3_c_RNIKSJN 7 1 2 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_cry_3_c_RNIKSJN_LC_63)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_cry_4_c 7 1 2 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_cry_3_c_RNIKSJN_LC_63)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_cry_4_c_RNIM0MN 7 1 3 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_cry_4_c_RNIM0MN_LC_64)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_cry_5_c 7 1 3 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_cry_4_c_RNIM0MN_LC_64)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_cry_6_c_RNIMEJB 7 1 5 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_cry_6_c_RNIMEJB_LC_65)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_cry_6_c_RNIMEJB_0 7 1 6 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_cry_6_c_RNIMEJB_0_LC_66)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_cry_6_c_inv 7 2 4 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_cry_6_c_inv_LC_67)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_sbtinv 8 2 2 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_sbtinv_LC_68)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_sbtinv_RNI0B7H 8 1 1 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_sbtinv_RNI0B7H_LC_69)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_cry_3_c 8 1 1 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_sbtinv_RNI0B7H_LC_69)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_cry_3_c_RNID5UR 8 1 2 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_cry_3_c_RNID5UR_LC_70)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_cry_4_c 8 1 2 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_cry_3_c_RNID5UR_LC_70)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_cry_4_c_RNIA9K61 8 1 3 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_cry_4_c_RNIA9K61_LC_71)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_cry_5_c 8 1 3 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_cry_4_c_RNIA9K61_LC_71)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_cry_5_c_RNIVBNM1 8 1 4 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_cry_5_c_RNIVBNM1_LC_72)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_cry_6_c 8 1 4 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_cry_5_c_RNIVBNM1_LC_72)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_cry_6_c_RNIISVF 8 1 5 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_cry_6_c_RNIISVF_LC_73)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_cry_6_c_RNIISVF_0 8 1 6 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_cry_6_c_RNIISVF_0_LC_74)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_sbtinv 8 2 3 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_sbtinv_LC_75)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_sbtinv_RNI1FUQ 9 1 1 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_sbtinv_RNI1FUQ_LC_76)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_cry_3_c 9 1 1 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_sbtinv_RNI1FUQ_LC_76)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_cry_3_c_RNIFCQA1 9 1 2 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_cry_3_c_RNIFCQA1_LC_77)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_cry_4_c 9 1 2 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_cry_3_c_RNIFCQA1_LC_77)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_cry_4_c_RNIT8IL1 9 1 3 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_cry_4_c_RNIT8IL1_LC_78)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_cry_5_c 9 1 3 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_cry_4_c_RNIT8IL1_LC_78)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_cry_5_c_RNIQ5N04 9 1 4 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_cry_5_c_RNIQ5N04_LC_79)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_cry_6_c 9 1 4 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_cry_5_c_RNIQ5N04_LC_79)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_cry_6_c_RNIVMD02 9 1 5 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_cry_6_c_RNIVMD02_LC_80)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_cry_6_c_RNIVMD02_0 9 1 6 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_cry_6_c_RNIVMD02_0_LC_81)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_sbtinv 9 2 7 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_sbtinv_LC_82)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_sbtinv_RNIATFR2 9 2 1 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_sbtinv_RNIATFR2_LC_83)
set_location un1_beamY_if_generate_plus.mult1_un61_sum_cry_3_c 9 2 1 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_sbtinv_RNIATFR2_LC_83)
set_location un1_beamY_if_generate_plus.mult1_un61_sum_cry_3_c_RNIRJ6B3 9 2 2 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un61_sum_cry_3_c_RNIRJ6B3_LC_84)
set_location un1_beamY_if_generate_plus.mult1_un61_sum_cry_4_c 9 2 2 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un61_sum_cry_3_c_RNIRJ6B3_LC_84)
set_location un1_beamY_if_generate_plus.mult1_un61_sum_cry_4_c_RNIAJ3R3 9 2 3 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un61_sum_cry_4_c_RNIAJ3R3_LC_85)
set_location un1_beamY_if_generate_plus.mult1_un61_sum_cry_5_c 9 2 3 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un61_sum_cry_4_c_RNIAJ3R3_LC_85)
set_location un1_beamY_if_generate_plus.mult1_un61_sum_cry_5_c_RNIHBHM8 9 2 4 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un61_sum_cry_5_c_RNIHBHM8_LC_86)
set_location un1_beamY_if_generate_plus.mult1_un61_sum_cry_6_c 9 2 4 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un61_sum_cry_5_c_RNIHBHM8_LC_86)
set_location un1_beamY_if_generate_plus.mult1_un61_sum_cry_6_c_RNIOPKG4 9 2 5 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un61_sum_cry_6_c_RNIOPKG4_LC_87)
set_location un1_beamY_if_generate_plus.mult1_un61_sum_cry_6_c_RNIOPKG4_0 9 2 6 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un61_sum_cry_6_c_RNIOPKG4_0_LC_88)
set_location un1_beamY_if_generate_plus.mult1_un61_sum_sbtinv 9 3 7 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un61_sum_sbtinv_LC_89)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_cry_2_c_RNI8V3O4 9 3 1 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_cry_2_c_RNI8V3O4_LC_90)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_cry_3_c 9 3 1 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_cry_2_c_RNI8V3O4_LC_90)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_cry_3_c_RNI4PFE7 9 3 2 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_cry_3_c_RNI4PFE7_LC_91)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_cry_4_c 9 3 2 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_cry_3_c_RNI4PFE7_LC_91)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_cry_4_c_RNIMH7U7 9 3 3 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_cry_4_c_RNIMH7U7_LC_92)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_cry_5_c 9 3 3 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_cry_4_c_RNIMH7U7_LC_92)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_cry_5_c_RNIS657H 9 3 4 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_cry_5_c_RNIS657H_LC_93)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_cry_6_c 9 3 4 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_cry_5_c_RNIS657H_LC_93)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_cry_6_c_RNIMJVO8 9 3 5 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_cry_6_c_RNIMJVO8_LC_94)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_sbtinv 9 3 6 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_sbtinv_LC_95)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_sbtinv_RNIBFP59 9 4 1 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_sbtinv_RNIBFP59_LC_96)
set_location un1_beamY_if_generate_plus.mult1_un75_sum_cry_3_c 9 4 1 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_sbtinv_RNIBFP59_LC_96)
set_location un1_beamY_if_generate_plus.mult1_un75_sum_cry_2_c_inv 8 4 0 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un75_sum_cry_2_c_inv_LC_97)
set_location un1_beamY_if_generate_plus.mult1_un75_sum_cry_3_c_RNIUTLPD 9 4 2 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un75_sum_cry_3_c_RNIUTLPD_LC_98)
set_location un1_beamY_if_generate_plus.mult1_un75_sum_cry_4_c 9 4 2 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un75_sum_cry_3_c_RNIUTLPD_LC_98)
set_location un1_beamY_if_generate_plus.mult1_un75_sum_cry_6_c_RNIVNQFH 9 4 5 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un75_sum_cry_6_c_RNIVNQFH_LC_99)
set_location un1_beamY_if_generate_plus.mult1_un75_sum_cry_6_c_inv 9 4 4 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus.mult1_un75_sum_cry_6_c_inv_LC_100)
set_location un1_beamY_if_generate_plus.mult1_un75_sum_cry_6_c 9 4 4 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un75_sum_cry_6_c_inv_LC_100)
set_location un1_visiblex_if_generate_plus.mult1_un47_sum_cry_4_c_RNIPVDG 11 7 1 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un47_sum_cry_4_c_RNIPVDG_LC_101)
set_location un1_visiblex_if_generate_plus.mult1_un47_sum_cry_5_c 11 7 1 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un47_sum_cry_4_c_RNIPVDG_LC_101)
set_location un1_visiblex_if_generate_plus.mult1_un47_sum_cry_5_c_RNIQ1FG 11 7 2 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un47_sum_cry_5_c_RNIQ1FG_LC_102)
set_location un1_visiblex_if_generate_plus.mult1_un47_sum_cry_6_c 11 7 2 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un47_sum_cry_5_c_RNIQ1FG_LC_102)
set_location un1_visiblex_if_generate_plus.mult1_un47_sum_cry_7_c_RNIROAE 11 7 5 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un47_sum_cry_7_c_RNIROAE_LC_103)
set_location un1_visiblex_if_generate_plus.mult1_un47_sum_cry_7_c_RNIROAE_0 11 7 6 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un47_sum_cry_7_c_RNIROAE_0_LC_104)
set_location un1_visiblex_if_generate_plus.mult1_un54_sum_cry_4_c_RNIGUUK 11 6 1 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un54_sum_cry_4_c_RNIGUUK_LC_105)
set_location un1_visiblex_if_generate_plus.mult1_un54_sum_cry_5_c 11 6 1 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un54_sum_cry_4_c_RNIGUUK_LC_105)
set_location un1_visiblex_if_generate_plus.mult1_un54_sum_cry_5_c_RNIBM831 11 6 2 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un54_sum_cry_5_c_RNIBM831_LC_106)
set_location un1_visiblex_if_generate_plus.mult1_un54_sum_cry_6_c 11 6 2 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un54_sum_cry_5_c_RNIBM831_LC_106)
set_location un1_visiblex_if_generate_plus.mult1_un54_sum_cry_5_c_RNIQKL62 12 6 6 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un54_sum_cry_5_c_RNIQKL62_LC_107)
set_location un1_visiblex_if_generate_plus.mult1_un54_sum_cry_6_c_RNISON62 11 6 3 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un54_sum_cry_6_c_RNISON62_LC_108)
set_location un1_visiblex_if_generate_plus.mult1_un54_sum_cry_7_c 11 6 3 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un54_sum_cry_6_c_RNISON62_LC_108)
set_location un1_visiblex_if_generate_plus.mult1_un54_sum_cry_7_c_RNIFUC31 11 6 4 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un54_sum_cry_7_c_RNIFUC31_LC_109)
set_location un1_visiblex_if_generate_plus.mult1_un54_sum_cry_7_c_RNIFUC31_0 11 6 5 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un54_sum_cry_7_c_RNIFUC31_0_LC_110)
set_location un1_visiblex_if_generate_plus.mult1_un61_sum_cry_4_c_RNI0A7G1 12 6 1 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un61_sum_cry_4_c_RNI0A7G1_LC_111)
set_location un1_visiblex_if_generate_plus.mult1_un61_sum_cry_5_c 12 6 1 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un61_sum_cry_4_c_RNI0A7G1_LC_111)
set_location un1_visiblex_if_generate_plus.mult1_un61_sum_cry_5_c_RNIK3332 12 6 2 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un61_sum_cry_5_c_RNIK3332_LC_112)
set_location un1_visiblex_if_generate_plus.mult1_un61_sum_cry_6_c 12 6 2 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un61_sum_cry_5_c_RNIK3332_LC_112)
set_location un1_visiblex_if_generate_plus.mult1_un61_sum_cry_6_c_RNIEN766 12 6 3 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un61_sum_cry_6_c_RNIEN766_LC_113)
set_location un1_visiblex_if_generate_plus.mult1_un61_sum_cry_7_c 12 6 3 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un61_sum_cry_6_c_RNIEN766_LC_113)
set_location un1_visiblex_if_generate_plus.mult1_un61_sum_cry_7_c_RNIJ3HH2 12 6 4 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un61_sum_cry_7_c_RNIJ3HH2_LC_114)
set_location un1_visiblex_if_generate_plus.mult1_un61_sum_cry_7_c_RNIJ3HH2_0 12 6 5 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un61_sum_cry_7_c_RNIJ3HH2_0_LC_115)
set_location un1_visiblex_if_generate_plus.mult1_un68_sum_cry_4_c_RNI90R03 12 5 1 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un68_sum_cry_4_c_RNI90R03_LC_116)
set_location un1_visiblex_if_generate_plus.mult1_un68_sum_cry_5_c 12 5 1 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un68_sum_cry_4_c_RNI90R03_LC_116)
set_location un1_visiblex_if_generate_plus.mult1_un68_sum_cry_5_c_RNIF80F4 12 5 2 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un68_sum_cry_5_c_RNIF80F4_LC_117)
set_location un1_visiblex_if_generate_plus.mult1_un68_sum_cry_6_c 12 5 2 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un68_sum_cry_5_c_RNIF80F4_LC_117)
set_location un1_visiblex_if_generate_plus.mult1_un68_sum_cry_6_c_RNIGQELB 12 5 3 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un68_sum_cry_6_c_RNIGQELB_LC_118)
set_location un1_visiblex_if_generate_plus.mult1_un68_sum_cry_7_c 12 5 3 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un68_sum_cry_6_c_RNIGQELB_LC_118)
set_location un1_visiblex_if_generate_plus.mult1_un68_sum_cry_7_c_RNICMHJ6 12 5 4 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un68_sum_cry_7_c_RNICMHJ6_LC_119)
set_location un1_visiblex_if_generate_plus.mult1_un75_sum_cry_4_c_RNII2G5 12 4 1 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un75_sum_cry_4_c_RNII2G5_LC_120)
set_location un1_visiblex_if_generate_plus.mult1_un75_sum_cry_5_c 12 4 1 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un75_sum_cry_4_c_RNII2G5_LC_120)
set_location un1_visiblex_if_generate_plus.mult1_un75_sum_cry_7_c_RNIC20PB 12 4 4 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un75_sum_cry_7_c_RNIC20PB_LC_121)
set_location un1_visiblex_if_generate_plus.mult1_un75_sum_cry_7_c_inv 12 4 3 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus.mult1_un75_sum_cry_7_c_inv_LC_122)
set_location un1_visiblex_if_generate_plus.mult1_un75_sum_cry_7_c 12 4 3 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un75_sum_cry_7_c_inv_LC_122)
set_location un5_visiblex_cry_3_c_RNINT02 8 6 4 # SB_LUT4 (LogicCell: un5_visiblex_cry_3_c_RNINT02_LC_123)
set_location un5_visiblex_cry_4_c 8 6 4 # SB_CARRY (LogicCell: un5_visiblex_cry_3_c_RNINT02_LC_123)
set_location un5_visiblex_cry_4_c_RNIP022 8 6 5 # SB_LUT4 (LogicCell: un5_visiblex_cry_4_c_RNIP022_LC_124)
set_location un5_visiblex_cry_5_c 8 6 5 # SB_CARRY (LogicCell: un5_visiblex_cry_4_c_RNIP022_LC_124)
set_location un5_visiblex_cry_4_c_RNIP022_0 12 4 7 # SB_LUT4 (LogicCell: un5_visiblex_cry_4_c_RNIP022_0_LC_125)
set_location un5_visiblex_cry_5_c_RNIR332 8 6 6 # SB_LUT4 (LogicCell: un5_visiblex_cry_5_c_RNIR332_LC_126)
set_location un5_visiblex_cry_6_c 8 6 6 # SB_CARRY (LogicCell: un5_visiblex_cry_5_c_RNIR332_LC_126)
set_location un5_visiblex_cry_5_c_RNIR332_0 12 6 7 # SB_LUT4 (LogicCell: un5_visiblex_cry_5_c_RNIR332_0_LC_127)
set_location un5_visiblex_cry_6_c_RNIT642 8 6 7 # SB_LUT4 (LogicCell: un5_visiblex_cry_6_c_RNIT642_LC_128)
set_location un5_visiblex_cry_7_c 8 6 7 # SB_CARRY (LogicCell: un5_visiblex_cry_6_c_RNIT642_LC_128)
set_location un5_visiblex_cry_6_c_RNIT642_0 11 6 7 # SB_LUT4 (LogicCell: un5_visiblex_cry_6_c_RNIT642_0_LC_129)
set_location un5_visiblex_cry_7_c_RNIV952 8 7 0 # SB_LUT4 (LogicCell: un5_visiblex_cry_7_c_RNIV952_LC_130)
set_location un5_visiblex_cry_8_c 8 7 0 # SB_CARRY (LogicCell: un5_visiblex_cry_7_c_RNIV952_LC_130)
set_location un5_visiblex_cry_7_c_RNIV952_0 11 7 7 # SB_LUT4 (LogicCell: un5_visiblex_cry_7_c_RNIV952_0_LC_131)
set_location un5_visiblex_cry_8_c_RNI1D62 8 7 1 # SB_LUT4 (LogicCell: un5_visiblex_cry_8_c_RNI1D62_LC_132)
set_location un5_visiblex_cry_8_c_RNI1D62_0 9 7 7 # SB_LUT4 (LogicCell: un5_visiblex_cry_8_c_RNI1D62_0_LC_133)
set_location un5_visiblex_cry_8_c_RNI1D62_1 8 7 2 # SB_LUT4 (LogicCell: un5_visiblex_cry_8_c_RNI1D62_1_LC_134)
set_location un5_visibley_cry_2_c_RNIN5VB 8 3 1 # SB_LUT4 (LogicCell: un5_visibley_cry_2_c_RNIN5VB_LC_135)
set_location un5_visibley_cry_3_c 8 3 1 # SB_CARRY (LogicCell: un5_visibley_cry_2_c_RNIN5VB_LC_135)
set_location un5_visibley_cry_3_c_RNIP80C 8 3 2 # SB_LUT4 (LogicCell: un5_visibley_cry_3_c_RNIP80C_LC_136)
set_location un5_visibley_cry_4_c 8 3 2 # SB_CARRY (LogicCell: un5_visibley_cry_3_c_RNIP80C_LC_136)
set_location un5_visibley_cry_4_c_RNIRB1C 8 3 3 # SB_LUT4 (LogicCell: un5_visibley_cry_4_c_RNIRB1C_LC_137)
set_location un5_visibley_cry_5_c 8 3 3 # SB_CARRY (LogicCell: un5_visibley_cry_4_c_RNIRB1C_LC_137)
set_location un5_visibley_cry_5_c_RNITE2C 8 3 4 # SB_LUT4 (LogicCell: un5_visibley_cry_5_c_RNITE2C_LC_138)
set_location un5_visibley_cry_6_c 8 3 4 # SB_CARRY (LogicCell: un5_visibley_cry_5_c_RNITE2C_LC_138)
set_location un5_visibley_cry_6_c_RNIVH3C 8 3 5 # SB_LUT4 (LogicCell: un5_visibley_cry_6_c_RNIVH3C_LC_139)
set_location un5_visibley_cry_7_c 8 3 5 # SB_CARRY (LogicCell: un5_visibley_cry_6_c_RNIVH3C_LC_139)
set_location un5_visibley_cry_7_c_RNI1L4C 8 3 6 # SB_LUT4 (LogicCell: un5_visibley_cry_7_c_RNI1L4C_LC_140)
set_location un5_visibley_cry_8_c 8 3 6 # SB_CARRY (LogicCell: un5_visibley_cry_7_c_RNI1L4C_LC_140)
set_location un5_visibley_cry_7_c_RNI1L4C_0 7 2 6 # SB_LUT4 (LogicCell: un5_visibley_cry_7_c_RNI1L4C_0_LC_141)
set_location un5_visibley_cry_8_c_RNI3O5C 8 3 7 # SB_LUT4 (LogicCell: un5_visibley_cry_8_c_RNI3O5C_LC_142)
set_location un5_visibley_cry_8_c_RNI3O5C_0 7 2 5 # SB_LUT4 (LogicCell: un5_visibley_cry_8_c_RNI3O5C_0_LC_143)
set_location un1_beamY_if_generate_plus_mult1_un33_sum_cry_5_THRU_LUT4_0 7 2 3 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus_mult1_un33_sum_cry_5_THRU_LUT4_0_LC_144)
set_location un1_beamY_if_generate_plus_mult1_un40_sum_cry_5_THRU_LUT4_0 7 1 4 # SB_LUT4 (LogicCell: un1_beamY_if_generate_plus_mult1_un40_sum_cry_5_THRU_LUT4_0_LC_145)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_cry_6_c 7 1 4 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus_mult1_un40_sum_cry_5_THRU_LUT4_0_LC_145)
set_location un1_visiblex_if_generate_plus_mult1_un47_sum_cry_6_THRU_LUT4_0 11 7 3 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus_mult1_un47_sum_cry_6_THRU_LUT4_0_LC_146)
set_location un1_visiblex_if_generate_plus.mult1_un47_sum_cry_7_c 11 7 3 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus_mult1_un47_sum_cry_6_THRU_LUT4_0_LC_146)
set_location un1_visiblex_if_generate_plus_mult1_un47_sum_cry_7_THRU_LUT4_0 11 7 4 # SB_LUT4 (LogicCell: un1_visiblex_if_generate_plus_mult1_un47_sum_cry_7_THRU_LUT4_0_LC_147)
set_location un1_beamY_if_generate_plus.mult1_un33_sum_cry_2_c 7 2 0 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un33_sum_cry_2_c_LC_148)
set_location un1_beamY_if_generate_plus.mult1_un40_sum_cry_2_c 7 1 0 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un40_sum_cry_2_c_LC_149)
set_location un1_beamY_if_generate_plus.mult1_un47_sum_cry_2_c 8 1 0 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un47_sum_cry_2_c_LC_150)
set_location un1_beamY_if_generate_plus.mult1_un54_sum_cry_2_c 9 1 0 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un54_sum_cry_2_c_LC_151)
set_location un1_beamY_if_generate_plus.mult1_un61_sum_cry_2_c 9 2 0 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un61_sum_cry_2_c_LC_152)
set_location un1_beamY_if_generate_plus.mult1_un68_sum_cry_2_c 9 3 0 # SB_CARRY (LogicCell: un1_beamY_if_generate_plus.mult1_un68_sum_cry_2_c_LC_153)
set_location un1_visiblex_if_generate_plus.mult1_un47_sum_cry_4_c 11 7 0 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un47_sum_cry_4_c_LC_154)
set_location un1_visiblex_if_generate_plus.mult1_un54_sum_cry_4_c 11 6 0 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un54_sum_cry_4_c_LC_155)
set_location un1_visiblex_if_generate_plus.mult1_un61_sum_cry_4_c 12 6 0 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un61_sum_cry_4_c_LC_156)
set_location un1_visiblex_if_generate_plus.mult1_un68_sum_cry_4_c 12 5 0 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un68_sum_cry_4_c_LC_157)
set_location un1_visiblex_if_generate_plus.mult1_un75_sum_cry_4_c 12 4 0 # SB_CARRY (LogicCell: un1_visiblex_if_generate_plus.mult1_un75_sum_cry_4_c_LC_158)
set_location un21_beamy_cry_1_c 7 4 0 # SB_CARRY (LogicCell: un21_beamy_cry_1_c_LC_159)
set_location un5_visiblex_cry_0_c 8 6 0 # SB_CARRY (LogicCell: un5_visiblex_cry_0_c_LC_160)
set_location un5_visiblex_cry_2_c 8 6 2 # SB_CARRY (LogicCell: un5_visiblex_cry_2_c_LC_161)
set_location un5_visibley_cry_2_c 8 3 0 # SB_CARRY (LogicCell: un5_visibley_cry_2_c_LC_162)
set_location un8_beamx_cry_1_c 7 7 0 # SB_CARRY (LogicCell: un8_beamx_cry_1_c_LC_163)
set_io Clock12MHz_ibuf 0 8 1 # ICE_IO
set_io Clock50MHz.PLLOUTCORE_derived_clock_RNI49H9 0 9 0 # ICE_GB
set_location Clock50MHz.PLL_inst 6 0 1 # SB_PLL40_CORE
set_location GND -1 -1 -1 # GND
set_io HSyncDebug_obuf 12 17 0 # ICE_IO
set_io HSync_obuf 9 0 0 # ICE_IO
set_io PixelDebug_obuf 12 17 1 # ICE_IO
set_io Pixel_obuf 9 0 1 # ICE_IO
set_io VSyncDebug_obuf 11 17 1 # ICE_IO
set_io VSync_obuf 8 0 1 # ICE_IO
set_location CONSTANT_ONE_LUT4 7 2 7 # SB_LUT4 (LogicCell: LC_164)
